.container{
    display: flex;
    justify-content: center;
    
}
#calc{
width: 240px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 28px;
    text-align: center;
    border-radius: 12px;
    background-color: hsl(0, 0%, 15%);
}
table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}
input[type=button] {
    width: 55px;
    color: #fff;
    border: none;
    padding: 2% 5%;
    margin-top: 5px;
    text-align: center;
    border-radius: 5px;
    background: rgb(236, 156, 7);
    display: inline-block;
    transition: background-color .2s;
}
#screen {
    float: left;
    width: 230px;
    border: none;
    padding: 0 2%;
    color: #303030;
    font-size: 20pt;
    border-radius: 5px;
    background: #C7DCEA;
}
input:hover[type=button]{
    background: #c41414;
}